@switch (icon()) {
  @case ('notes') {
    <img alt="" [src]="dark() ? '/apps/notes-dark.png' : '/apps/notes-light.png'" />
  }
  @case ('safari') {
    <img alt="" [src]="dark() ? '/apps/safari-dark.png' : '/apps/safari-light.png'" />
  }
  @case ('finder') {
    <img alt="" [src]="dark() ? '/apps/finder-dark.png' : '/apps/finder-light.png'" />
  }
  @case ('vscode') {
    <img alt="" [src]="dark() ? '/apps/vscode-dark.png' : '/apps/vscode-light.png'" />
  }
  @case ('photoshop') {
    <img alt="" [src]="dark() ? '/apps/photos-dark.png' : '/apps/photos-light.png'" />
  }
  @case ('figma') {
    <img alt="" [src]="dark() ? '/apps/figma-dark.png' : '/apps/figma-light.png'" />
  }
  @case ('youtube') {
    <img alt="" [src]="dark() ? '/apps/youtube-dark.png' : '/apps/youtube-light.png'" />
  }
  @case ('messages') {
    <img alt="" [src]="dark() ? '/apps/messages-dark.png' : '/apps/messages-light.png'" />
  }
  @case ('terminal') {
    <img src="/apps/terminal.png" alt="" />
  }
  @case ('trash') {
    <img alt="" [src]="dark() ? '/apps/trash-dark.png' : '/apps/trash-light.png'" />
  }
}
