<nav>
  <a class="logo-container" href="/">
    <img src="assets/logo.png" alt="logo" class="logo"/>
  </a>
  <div class="nav-container">
    <a class="nav-link" href=""><i class="bi bi-house"></i> Home</a>
    <a class="nav-link" href=""><i class="bi bi-search"></i> Search</a>
    <a class="nav-link" href=""><i class="bi bi-plus-square"></i> Create</a>
    <a class="nav-link" href=""><i class="bi bi-chat-left-text"></i> Message</a>
    <a class="nav-link" href=""><i class="bi bi-person-circle"></i> Profile</a>
    <a class="nav-link" href=""><i class="bi bi-telephone"></i> Contact</a>
  </div>
</nav>
