<footer>
  <div class="footer-left">
    <img class="footer-logo"
         src="https://yt3.googleusercontent.com/ytc/AL5GRJWFnnT7a8-67_jZDFyRmT3uESDm87cqYLga4v8Z3vI=s176-c-k-c0x00ffffff-no-rj"
         height="50px" alt="logo">
    <div class="footer-text">
      <p>© 2023 - 2024</p>
      <p>Created by <b>Karim CHARLEUX</b></p>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-social">
      <a href="https://www.linkedin.com/" id="social-linkedin"><i class="bi bi-linkedin"></i> Linkedin </a> |
      <a href="https://www.instagram.com/" id="social-insta"><i class="bi bi-instagram"></i> Instagram</a> |
      <a href="https://www.facebook.com/" id="social-facebook"><i class="bi bi-facebook"></i> Facebook</a>
    </div>
  </div>
</footer>

