<img id="image_fond" src="assets/VTT/header_dh.jpg">

<h1>VTT Descente</h1>
<section>
  <article>
    <p>
      <strong>VTT de descente :</strong>  Le VTT de descente appelé aussi DH est un sport extrême, très engagé ou
      le but est de descendre le plus rapidement possible un parcours en descente. Les parcours
      dans cette disciplines sont souvent composés de passages très raides avec des grosses racines
      en milieu bosser et des grosses pierres.<br> Pour pouvoir encaisser ces nombreux choquent tout
      en allant vite, les vtt sont conçus d’une certaines manières permettant aux pilotes d’être
      le plus efficace possible.
    </p>
    <video controls>
      <source src="assets/VTT/video_dh.mp4" type="video/mp4">
    </video><br>
    <p>
      Le caractéristique propre au DH sont tout d’abord le centre de gravité du vététiste sur
      le VTT car il est assez bas pour permettre au pilote d'adhérer au mieux la piste.
      Ensuite ce type de vélo possède deux suspension avec une fourche à l’avant et un amortisseur
      à l'arrière et la grosse différence entre ce vtt et les autres est la dimension de
      la fourche ( la parti qui se compressent) car elle peut atteindre 240 mm voir 260mm
      contrairement au cross country qui est la plupart du temps a 100 ou 110mm. Cela permet
      au Vététiste lors d’une descente de moins ressentir les choquent car les suspensions étant
      plus grandes permettent d’absorber les chocs.
    </p>
    <img id="img_canyon" src="assets/VTT/canyon_dh.png"><br>
    <p>
      Au niveau professionnel, les francais sont tres présent.
      En effet dans la catégorie masculine, deux français font partis des plus fort.<br>
      <a href="https://fr.wikipedia.org/wiki/Amaury_Pierron" target="_blank"><img class="image_champion" src="assets/VTT/amaury_pierron.png"></a>
      <a href="https://fr.wikipedia.org/wiki/Lo%C3%AFc_Bruni" target="_blank"><img class="image_champion" src="assets/VTT/loic_bruny.png"></a>
    </p>

  </article>
</section>
