<div [style.animation-delay]="posteInsta.id * 0.5 +'s'" class="post-insta">
  <p *ngIf="posteInsta.location" class="post-insta-location"><i
    class="bi bi-geo-alt"></i> {{ posteInsta.location | titlecase  }}</p>
  <img [alt]="posteInsta.message" [src]="posteInsta.image" class="post-insta-image">

  <div class="post-insta-btn-container">
    <button (click)="onAddLike()" [ngClass]="{clicked: posteInsta.clicked}" class="post-insta-btn">
      <lord-icon
        colors="primary:{{ posteInsta.likeColor }}"
        src="https://cdn.lordicon.com/{{posteInsta.likeType}}.json"
        style="width:27px;height:27px"
        trigger="hover">
      </lord-icon>
    </button>

    <button class="post-insta-btn">
      <lord-icon
        src="https://cdn.lordicon.com/hpivxauj.json"
        style="width:27px;height:27px"
        trigger="hover">
      </lord-icon>
    </button>

    <button (click)="onClickSave()" class="post-insta-btn">
      <lord-icon
        src="https://cdn.lordicon.com/{{posteInsta.saveType}}.json"
        style="width:27px;height:27px"
        trigger="hover">
      </lord-icon>
    </button>
  </div>


  <p [innerHTML]="posteInsta.message" class="post-insta-message"></p>


  <div class="post-insta-description">

    <div class="post-insta-desc-container">
      <div class="user">
        <img [alt]="posteInsta.userName" [src]="posteInsta.userImage" class="user-image">
        <div>
          <span class="user-name">{{ posteInsta.userName | titlecase }}</span> <br>
          <span class="user-follower"> {{ posteInsta.followers }} followers</span>
        </div>
      </div>

      <span class="post-insta-stat">
        <span [ngStyle]={color:posteInsta.likeColor}>{{ posteInsta.likes }}  <i class="bi bi-heart"></i></span>
        {{posteInsta.comments}} <i class="bi bi-chat"></i>
      </span>

    </div>

  </div>

  <p class="post-insta-date">À {{ posteInsta.date | date: 'HH:mm le dd/MM/YY' }}</p>

</div>
