<img id="image_fond" src="assets/VTT/header_xc.jpg">

<h1>VTT Cross-Country</h1>
<section>
  <p class="contenu_text">
    <strong>Cross country :</strong> Le cross country appelé aussi XC est l’une des discipline les plus connu dans le
    monde du VTT et présente aux Jeux olympique.<br><br>
    Le cross country est un sport se caractérisant par une course de 30 à 40 km en faisant une boucle de plusieurs
    kilomètres ou le but est d'arriver
    à la ligne d’arrivée au dernier tour en premier.
    Le parcours est souvent composé de monter assez technique et raide avec quelques obstacles comme des branches ou des
    pierres et des descentes engageantes
    avec des franchissement d’obstacle (rocher, tremplin…).<br><br>
    En fonction de la disciplines, les sportifs n’ont pas le même matériel. En effet en cross country les
    caractéristiques recherchées sur ce VTT sont le
    poids car le VTT doit à la fois être léger pour faire le moins d’effort possible en montée et aussi être assez
    rigide pour ne pas qu'il se casse au vu de
    sa légèreté. C'est pour cela que la plupart des vélos en compétitions sont en carbones. De plus, le centre de
    gravité sur la selle dans ce sport est assez élevé.
    En effet sur ce type de vélo on peut remarquer que les Vététistes sont assez haut sur leur selle. Cela permet aux
    Vététistes de pouvoir détendre sa jambe à
    100% pour que la puissance lors du coup de pédale soit le plus optimiser. <br>
    <video controls>
      <source src="assets/VTT/video_xc.mp4" type="video/mp4">
    </video>
    <br>
    Pour finir en fonction du parcours, les sportifs peuvent changer de vélo entre les courses pour être plus à l’aise
    s’il il y a beaucoup d'endroit roulant
    ( pas de pierre, pas de racine), ou s’il y a beaucoup de cassant (beaucoup de pierre et d’endroit technique). Il
    pourra donc choisir entre un VTT semi rigide
    ou rigide .<br>
    <img alt="toutsuspendu vs semirigide" id="image_versus" src="assets/VTT/xc_versus.jpg">
    La différence entre les deux VTT est que l’un a une seule suspension à l’avant (fourche) et l’autre a deux
    suspension (fourche et amortisseur).<br><br>
    En france cette discipline est aussi très connu car depuis de nombreuses années, les français sont dans les premiers
    mondiaux.<br><br>
    En effet en VTT cross country masculin, Julien absalon est double médaillé olympique, 5 fois champion du monde, 5
    fois champion d’europe, 14 fois champion de france…<br>
    <a href="https://fr.wikipedia.org/wiki/Julien_Absalon" target="_blank">
      <img alt="Julien ABSELON" class="image_champion" height="500" ngSrc="assets/VTT/julien.png" width="1500">
    </a>
    <br>
    Et en VTT cross country féminin, Pauline Ferrand Prevot est 2 fois championne du monde, 1 fois championne d’europe
    et 6 fois championne de france.<br>
    <a href="https://fr.wikipedia.org/wiki/Pauline_Ferrand-Pr%C3%A9vot" target="_blank">
      <img alt="Pauline FERRAND PREVOT" class="image_champion" height="500" ngSrc="assets/VTT/pauline.png" width="1500">
    </a>
  </p>
  <article>
    <div class="slider">
      <div class="slides">
        <div class="slide"><img alt="" class="image_slide" height="853" ngSrc="assets/VTT/slider_xc/1.jpg" width="1280"></div>
        <div class="slide"><img alt="" class="image_slide" height="853" ngSrc="assets/VTT/slider_xc/2.jpg" width="1280"></div>
        <div class="slide"><img alt="" class="image_slide" height="853" ngSrc="assets/VTT/slider_xc/3.jpg" width="1280"></div>
        <div class="slide"><img alt="" class="image_slide" height="864" ngSrc="assets/VTT/slider_xc/4.jpg" width="1296"></div>
        <div class="slide"><img alt="" class="image_slide" height="853" ngSrc="assets/VTT/slider_xc/5.jpg" width="1280"></div>
      </div>
    </div>
  </article>
</section>
