#xc-background-image {
  position: absolute;
  width: 100%;
  height: auto;
}

#xc-title {
  animation: slideDown 0.8s;
  position: absolute;
  font-size: 5em;
  justify-content: center;
  padding: 10%;
  margin-top: 200px;
  text-shadow: black 2px 2px 5px;
}

#xc-page {
  position: relative;
  padding-top: 50%;
  padding-bottom: 5%;
  color: rgb(0, 0, 0);
  text-align: justify;
  width: 80%;
  height: 100%;
  margin: auto;

  #xc-text-container {
    background-color: rgb(255, 255, 255);
    padding: 7%;
    font-size: 1.2em;

    video {
      width: 80%;
      display: block;
      padding: 2%;
      margin: auto;
    }

    #xc-image-versus {
      height: auto;
      width: 100%;
      padding: 2%;
    }

    .xc-champion-image {
      width: 100%;
      height: auto;
      transition: 0.5s ease;

      &:hover {
        background-color: #ececec;
      }
    }
  }

  article {
    padding: 2% 7% 6% 7%;
    background-color: rgb(255, 255, 255);
  }

  #xc-slider {
    width: 100%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);

    #xc-slides-container {
      width: 500%;
      display: flex;
      height: auto;
      animation: slideStepSmooth 20s infinite ease;

      .xc-slide {
        float: left;

        .xc-image_slide {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  #xc-title {
    margin-top: 100px;
  }

  #xc-page {
    width: 90%;
    font-size: 1.2em;
  }
}
