<nav class="dock" (pointerleave)="onDockLeave()">
  @for (app of apps; track app.id; let i = $index) {
    @if (app.separatorBefore) {
      <div class="dock__divider"></div>
    }
    <div class="dock__slot">
      @if (hoveredApp() === app.id) {
        <div class="dock__tooltip">{{ i18n.t(app.tooltip) }}</div>
      }
      <button
        type="button"
        class="dock__icon"
        [style.transform]="transformFor(i)"
        [attr.aria-label]="app.label"
        (pointerenter)="onIconEnter(i, app.id)"
        (click)="open(app)"
      >
        <app-icon [icon]="app.icon" />
        @if (isOpen(app.id)) {
          <span class="dock__indicator"></span>
        }
      </button>
    </div>
  }
</nav>
