<header>
  <a id="header-title" routerLink=".">LE MONDE DU VTT</a>
  <nav>
    <a (click)="disableMenu()" class="header-link" routerLink="." routerLinkActive="active">Accueil</a>
    <a (click)="disableMenu()" class="header-link" routerLink="xc" routerLinkActive="active">Cross Country</a>
    <a (click)="disableMenu()" class="header-link" routerLink="dh" routerLinkActive="active">Downhill</a>
    <a (click)="disableMenu()" class="header-link" routerLink="trial" routerLinkActive="active">Trial</a>
    <button (click)="disableMenu()" id="header-link-contact" routerLink="contact">Contact</button>
  </nav>
  <div (click)="showMenu()" id="header-icon-list">
    <span class="meat"></span>
    <span class="meat"></span>
    <span class="meat"></span>
  </div>
</header>
