<main>
  <div class="background-card">
    <div class="project-container">
      <div class="project">
        <img alt="adidas" class="project-image" fill ngSrc="../assets/adidas.png">
        <div class="project-info">
          <h1 class="project-title">InstaRand</h1>
          <h3 class="project-desc">InstaRand is a social network that allows you to discover the beauty in the
            randomness.</h3>
          <div class="project-tags">
            <span class="tag">Angular</span>
            <span class="tag">SCSS</span>
            <span class="tag">TypeScript</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
