<div id="contact-background-image">
  <div id="contact-container">
    <h1>CONTACT</h1>
    <form action="mailto:karim.charleux@hotmail.fr" method="POST">
      <table aria-label="Formulaire de contact">
        <tr>
          <td class="contact-label"><label for="Nom">Nom </label></td>
          <td class="contact-label"><label for="Prenom">Prénom </label></td>
        </tr>

        <tr>
          <td><input id="Nom" name="Nom" placeholder="Saisissez votre nom" required type="text"></td>
          <td><input id="Prenom" name="Prenom" placeholder="Saisissez votre prenom" required type="text"></td>
        </tr>

        <tr>
          <td class="contact-label"><label for="Email">Email</label></td>
          <td class="contact-label"><label for="tel">Téléphone</label></td>
        </tr>

        <tr>
          <td><input id="Email" name="Email" placeholder="Saisissez votre e-mail" type="email"></td>
          <td><input id="tel" maxlength="10" minlength="10" name="tel" placeholder="Saisissez votre téléphone"
                     type="tel"></td>
        </tr>
        <tr>
          <td class="contact-label"><label for="message">Message</label></td>
        </tr>
        <tr>
          <td colspan="2"><textarea id="message" placeholder="Saisissez votre message" rows="5"></textarea></td>
        </tr>
      </table>
      <div class="contact-btn-container">
        <input class="contact-btn" type="submit" value="Envoyer">
        <input class="contact-btn" type="reset" value="Annuler">
      </div>
    </form>
  </div>
</div>
