@use '../app-window-content' as window;

.finder {
  @include window.container;

  &__heading {
    @include window.heading;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__row {
    @include window.divider;
  }

  &__row-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 4px;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    color: inherit;
  }

  &__row-count {
    @include window.secondary-text;
  }
}
