@import "../../utils";
@import "../../variables";


.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: FadeOut $loading-duration/2 ease-in-out;
  animation-delay: $loading-duration/2;
  animation-fill-mode: forwards;

  .loadingLogo {
    animation: ZoomIn $loading-duration ease-in;
    height: auto;
    width: 100%;
  }
}
