<div id="home-background">
  <div id="home-subtitle">
    <p>Bienvenue sur notre site !</p>
  </div>
</div>

<section id="home-section-text">
  <p>
    <strong>Envie de chevaucher au grand air dans la nature ?</strong>
    Le VTT est fait pour vous ! Oui mais, quel VTTiste êtes-vous ? Il n’y a pas un, mais des façons de pratiquer le VTT,
    toutes spécifiques, toutes possédant son type adapté de vélo.
  </p>

  <p>
    <strong>Le VTT qu'est-ce que c'est ?</strong>
    Le VTT est une discipline sportive qui regroupe plusieurs pratiques distinctes.
  </p>
</section>

<div id="home-vtt-image-container">
  <img alt="Les catégories du VTT" class="home-image-vtt" height="1080" ngSrc="assets/VTT/back.jpg" width="1920">
  <span class="home-vtt-text"><a routerLink="xc">VTT Cross-Country</a></span>
  <span class="home-vtt-text"><a routerLink="dh">VTT Descente</a></span>
  <span class="home-vtt-text"><a routerLink="trial">VTT Trial</a></span>
</div>
