<div class="header">
  <div id="bonjour">
    <p>Bienvenue sur notre site !</p>
  </div>
</div>

<section class="section1">
  <p>
    <strong>Envie de chevauchées au grand air dans la nature ?</strong> <br><br>
    Le VTT est fait pour vous ! Oui mais quel VTTiste êtes-vous ?
    Il n’y a pas un mais des façons de pratiquer le VTT, toutes spécifiques, toutes possédant son type adapté de vélo.
    <br><br>
    <strong>Le VTT qu'est-ce que c'est ?</strong><br>
    Le VTT est une discipline sportive qui regroupe plusieurs pratiques disctinctes.<br>
  </p>
</section>

<div class="conteneur_image_vtt">
  <img alt="Les catégories du VTT" class="image_vtt" height="1080" ngSrc="assets/VTT/back.jpg" width="1920">
  <span id="xc_text"><a routerLink="xc">VTT Cross-Country</a></span>
  <span id="dh_text"><a routerLink="dh">VTT Descente</a></span>
  <span id="trial_text"><a routerLink="trial">VTT Trial</a></span>
</div>
