<div class="mail">
  <h2 class="mail__heading">{{ i18n.t('getInTouch') }}</h2>
  <form class="mail__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <label class="mail__field">
      <span>{{ i18n.t('mailName') }}</span>
      <input type="text" formControlName="name" />
    </label>
    <label class="mail__field">
      <span>{{ i18n.t('mailEmail') }}</span>
      <input type="email" formControlName="email" />
    </label>
    <label class="mail__field">
      <span>{{ i18n.t('mailMessage') }}</span>
      <textarea rows="5" formControlName="message"></textarea>
    </label>
    <button type="submit" class="mail__submit">{{ i18n.t('mailSend') }}</button>
    @if (submitted()) {
      <p class="mail__confirmation">{{ i18n.t('mailConfirmation') }}</p>
    }
  </form>
</div>
