<div class="header">
  <img alt="Karim CHARLEUX" class="header-logo" height="926" ngSrc="../assets/karim-picture.jpeg" width="926">
  <h1>Karim CHARLEUX</h1>
  <h3>Portfolio</h3>
</div>

<div class="project-container">

  <a class="project" routerLink="/instarand">
    <h2 class="project-title">InstaRand</h2>
    <img alt="InstaRand" class="project-image" height="887" ngSrc="../assets/resume-instarand.jpg" width="1895">
    <p class="project-description">
      InstaRand is a social network that allows you to discover the beauty in the randomness.
    </p>
    <div class="project-tags">
      <span class="tag">Angular</span>
      <span class="tag">SCSS</span>
      <span class="tag">TypeScript</span>
    </div>
  </a>

  <a class="project" routerLink="/le-monde-du-vtt">
    <h2 class="project-title">Le Monde du VTT</h2>
    <img alt="Le Monde du VTT" class="project-image" height="883" ngSrc="../assets/resume-vtt.jpg" width="1896">
    <p class="project-description">
      Le Monde du VTT is a website that allows you to discover the world of mountain biking.
    </p>
    <div class="project-tags">
      <span class="tag">HTML</span>
      <span class="tag">CSS</span>
      <span class="tag">JS</span>
    </div>
  </a>

  <a class="project" routerLink="/snchess">
    <h2 class="project-title">SNCHESS</h2>
    <img alt="SNCHESS" class="project-image" height="887" ngSrc="../assets/resume-snchess.jpg" width="1892">
    <p class="project-description">
      SNCHESS allows you to book train tickets, with the SNCF API. With Maps, you can also find the nearest station.
    </p>
    <div class="project-tags">
      <span class="tag">HTML</span>
      <span class="tag">CSS</span>
      <span class="tag">JS</span>
    </div>
  </a>

  <a class="project" routerLink="/treejs">
    <h2 class="project-title">TreeJS</h2>
    <img alt="TreeJS" class="project-image" height="724" ngSrc="../assets/treejs.png" width="366">
    <p class="project-description">
      Just a TreeJS sandbox to test some features of the library.
      The library allows you to create 3D scene with a lot of features.
    </p>
    <div class="project-tags">
      <span class="tag">TreeJS</span>
    </div>
  </a>

  <a class="project" routerLink="/vanlife">
    <h2 class="project-title">VanLife</h2>
    <img alt="VanLife" class="project-image" height="924" ngSrc="../assets/vanlife.png" width="1640">
    <p class="project-description">
      VanLife is a website that allows you to discover the world of vanlife.
      You can rent a van, buy a van, for your next trip.
    </p>
    <div class="project-tags">
      <span class="tag">Angular</span>
    </div>
  </a>

  <a class="project" routerLink="/card-effect">
    <h2 class="project-title">Shoes 3D effect</h2>
    <img alt="Shoes effecet" class="project-image" height="924" ngSrc="../assets/shoes-effect.png" width="1640">
    <p class="project-description">
      A simple 3D card effect with CSS.
    </p>
    <div class="project-tags">
      <span class="tag">Angular</span>
    </div>
  </a>

</div>
