<h1>Karim CHARLEUX</h1>
<h3>Portfolio</h3>

<div class="project-container">

  <a class="project" routerLink="/instarand">
    <h2 class="project-title">InstaRand</h2>
    <img alt="InstaRand" class="project-image" height="887" ngSrc="../assets/resume-instarand.jpg" width="1895">
    <p class="project-description">
      InstaRand is a social network that allows you to discover the beauty in the randomness.
    </p>
    <div class="project-tags">
      <span class="tag">Angular</span>
      <span class="tag">SCSS</span>
      <span class="tag">TypeScript</span>
    </div>
  </a>

  <a class="project" routerLink="/le-monde-du-vtt">
    <h2 class="project-title">Le Monde du VTT</h2>
    <img alt="Le Monde du VTT" class="project-image" height="883" ngSrc="../assets/resume-vtt.jpg" width="1896">
    <p class="project-description">
      Le Monde du VTT is a website that allows you to discover the world of mountain biking.
    </p>
    <div class="project-tags">
      <span class="tag">HTML</span>
      <span class="tag">CSS</span>
      <span class="tag">JS</span>
    </div>
  </a>
  <a class="project" routerLink="/snchess">
    <h2 class="project-title">SNCHESS</h2>
    <img alt="SNCHESS" class="project-image" height="887" ngSrc="../assets/resume-snchess.jpg" width="1892">
    <p class="project-description">
      SNCHESS allows you to book train tickets, with the SNCF API. With Maps, you can also find the nearest station.
    </p>
    <div class="project-tags">
      <span class="tag">HTML</span>
      <span class="tag">CSS</span>
      <span class="tag">JS</span>
    </div>
  </a>
</div>
