<footer>
  <div class="bloc_footer">
    <img alt="logo footer" height="400" ngSrc="assets/snchess/logo.png" width="732">
    <p>Crée par <b>Karim CHARLEUX</b> & <b>Clément DEHOSSE</b> <br> Valence - France ©2021</p>
  </div>
  <div class="bloc_footer">
    <h4>Une question, une info ? </h4>
    <button onclick="window.location.href='contact.html'">
      <img alt="Contactez-nous" height="353" ngSrc="assets/snchess/contact.png" width="358">
      Contactez-nous
    </button>
  </div>
  <div class="bloc_footer">
    <h4>Accés rapide</h4>
    <a href="menu.html">Page d'accueil</a>
    <a href="panier.html">Mon panier</a>
    <a href="compte.html">Mon compte</a>
  </div>
</footer>
